# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Take some examples of basic coding
* Analyzing patterns and data
* Use Big Data

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy (python)
2. Pandas (python)
3. Matplotlib (python)
4. caret (R)
5. tidyverse (R)

| Data Science Tools   |
|:---------------------:|
|Jupyter Notebook   |
|R Studio   |
|Spyder   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
hours=200/60
print ('Hours:',hours)

Hours: 3.3333333333333335

## Author
##### Alberto Idrio